* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3{
    font-family: "Gabriela", serif;
    font-size: inherit;
    font-weight: inherit;
}


h4, h5, h6, p {
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: inherit;
    font-weight: inherit;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
   all: unset;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    font-family: "Playpen Sans", cursive;
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.btn:hover {
    transform: scale(1.2, 1.2);
}

button:hover {
    transform: scale(1.1, 1.2);
}

li a:hover {
    color: rgb(240, 200, 50);
}

a:hover {
    color:rgb(0, 100, 194);
}

a span:hover {
    color:rgb(0, 100, 194);
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 76px;
    font-size: 14px;
    border-bottom: 1px solid #eff5fb;
}
.header-container {
    width: 1200px;
}
.header-line {
    display: flex;
    align-items: center;  
    width: 100%;
} 
.logo {
    width: 51px;
    height: 36px;
}
.nav {
    display: flex;
    align-items: center;
    gap: 30px;
    line-height: 14px;
    margin-left: 51px;
    margin-right: 164px;
    white-space: nowrap;
}
.nav-item {
    font-family: "Franklin Gothic Medium", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    line-height: 114%;
    letter-spacing: 0.25px;
    color: #333333;
}
.matherials {
    display: flex;
    align-items: center;
    gap: 8px;
}
.arrow_down {
    display: flex;
    width: 14px;
    height: 14px;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}
.button {
    color: #03b2a5;
    border-radius: 4px;
    border: 0;
    background-color: #e3f5f5;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 700;
    padding: 14px 20px;
    width: 230px;
    height: 48px;
    text-align: center;
    white-space: nowrap;
}



.footer {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    height: 302px;
    width: 100%;
    background: rgb(41, 99, 163);
    justify-content: center;
    align-items: center;
}
.footer-container {
    width: 1200px;
    height: 100%;
}
.footer_block-upper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 208px;
    justify-content: space-between;
    border-bottom: 1px solid #9d9d9d;
    padding-bottom: 25px;
    margin-top: 40px;
}
.link {
    display: grid;
    width: 310px;
    height: 184px;
    grid-gap: 93px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "z y";
    margin-right: 91.5px;
}
.footer_block-upper-first {
    grid-area: z;
    display: flex;
    margin: 0;
    padding: 0;
}
.footer_block-upper-second {
    grid-area: y;
    display: flex;
    margin: 0;
    padding: 0;
  }
ul.vertical-list1 a {
    color: #ffffff;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
ul.vertical-list2 a {
    color: #ffffff;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.vertical-list1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 111px;
    height: 184px;
    line-height: 26px;
    list-style: none;
}
.vertical-list2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 106px;
    height: 184px;
    line-height: 26px;
    list-style: none;
}
.footer_block-upper-third {
    width: 486px;
    height: 170px;
    margin-right: 80px;
}
.footer_subscription {
    display: flex;
    width: 486px;
    height: 170px;
    flex-direction: column;
    justify-content: space-between;
}
.footer_subscription-text {
    font-family: "Gabriela", serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}
.input-btn {
    background-color: #ffffff;
    width: 384px;
    height: 48px;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    position: absolute;
}
.btn {
    position: relative;
    z-index: 1;
    left: 321px;
    width: 64px;
    height: 48px;
    cursor: pointer;
}
::placeholder {
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 16px;
    color: rgb(122, 117, 127);
  }
.footer_accord {
    font-family: "Gabriela", serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.25px;
    width: 410px;
    height: 54px;
    opacity: 0.7;
    color: #ffffff99;
}
.footer_block-upper-fourth {
    display: flex;
    flex-direction: column;
    row-gap: 40px; 
}
.sklogo-partner {
    display: flex;
    justify-content: space-between;
}
.emblems {
    display: flex;
    justify-content: space-between;
    width: 176px;
}
.footer_block-lower {
    display: flex;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 17px;
    opacity: 0.7;
    color: #ffffff99;
}
.youtalk {
    display: flex;
    justify-content: space-between; 
    gap: 50px;
    list-style: none;
}
.youtalk a {
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff99;
}